{%- for block in section.blocks -%}
{%- case block.type -%}
{%- when '@app' -%}
{%- render block -%}

{%- when 'product_meta' -%}


{%- when 'description' -%}
{%- if product.description != blank -%}
<div class="ProductMeta__Description" {{ block.shopify_attributes }}>
    <div class="Rte">
        {{- product.description | replace: 'data-section-type', 'data-section-type-placeholder' -}}
    </div>
</div>

<a class="read_more_science" href="{{section.settings.science_link}}">{{section.settings.science}}</a>
{%- endif -%}

{%- when 'share_buttons' -%}
<div class="ProductMeta__ShareButtons hidden-pocket" {{ block.shopify_attributes }}>
    <span class="ProductMeta__ShareTitle Heading Text--subdued u-h7">{{ 'product.form.share' | t }}</span>

    {%- assign share_url = shop.url | append: product.url -%}
    {%- assign twitter_text = product.title -%}
    {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
    {%- assign pinterest_image = product.featured_image | img_url: 'large' | prepend: 'https:' -%}

    <div class="ProductMeta__ShareList Text--subdued">
        <a class="ProductMeta__ShareItem" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank"
            rel="noopener" aria-label="Facebook">{%- render 'icon' with 'facebook' -%}</a>
        <a class="ProductMeta__ShareItem"
            href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}"
            target="_blank" rel="noopener" aria-label="Twitter">{%- render 'icon' with 'twitter' -%}</a>
        <a class="ProductMeta__ShareItem"
            href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}"
            target="_blank" rel="noopener" aria-label="Pinterest">{%- render 'icon' with 'pinterest' -%}</a>
    </div>
</div>

{%- when 'variant_selector' -%}
{%- assign has_ouputted_variant_selector = true -%}
{%- render 'product-form', block: block, product: product -%}

{%- when 'quantity_selector' -%}
<div class="ProductForm__QuantitySelector" {{ block.shopify_attributes }}>
    {%- if block.settings.show_label -%}
    <span class="ProductForm__Label">{{ 'product.form.quantity' | t }}:</span>
    {%- endif -%}

    <div class="QuantitySelector QuantitySelector--large">
        {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

        <button type="button" class="QuantitySelector__Button Link Link--secondary" data-action="decrease-quantity">{%
            render 'icon' with 'minus' %}</button>
        <input type="text" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" name="quantity" value="1"
            aria-label="{{ 'product.form.quantity' | t }}">
        <button type="button" class="QuantitySelector__Button Link Link--secondary" data-action="increase-quantity">{%
            render 'icon' with 'plus' %}</button>
    </div>
</div>

{%- when 'inventory' -%}
{%- assign hide_inventory_quantity_by_default = false -%}

{%- if product.selected_or_first_available_variant.inventory_management == blank or
product.selected_or_first_available_variant.inventory_quantity <= 0 -%} {%- assign
    hide_inventory_quantity_by_default=true -%} {%- endif -%} {%- if block.settings.inventory_quantity_threshold !=0 and
    product.selected_or_first_available_variant.inventory_quantity> block.settings.inventory_quantity_threshold -%}
    {%- assign hide_inventory_quantity_by_default = true -%}
    {%- endif -%}

    <p class="ProductForm__Inventory Text--subdued" {% if hide_inventory_quantity_by_default %}style="display: none" {%
        endif %} {{ block.shopify_attributes }}>
        {%- if block.settings.inventory_quantity_threshold == 0 -%}
        {{- 'product.form.inventory_quantity_count' | t: count:
        product.selected_or_first_available_variant.inventory_quantity -}}
        {%- else -%}
        {{- 'product.form.low_inventory_quantity_count' | t: count:
        product.selected_or_first_available_variant.inventory_quantity -}}
        {%- endif -%}
    </p>

    {%- when 'buy_buttons' -%}
    {%- if block.settings.show_payment_button == false or product.selling_plan_groups.size > 0 -%}
    {%- assign use_primary_button = true -%}
    {%- else -%}
    {%- assign use_primary_button = false -%}
    {%- endif -%}

    <div class="ProductForm__BuyButtons" {{ block.shopify_attributes }}>
        {%- if block.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
        <style>
            #shopify-section- {
                    {
                    section.id
                }
            }

            .shopify-payment-button {
                display: none;
            }
        </style>
        {%- endif -%}

        {%- comment -%} {%- if block.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
        {{ form | payment_button }}
        {%- endif -%} {%- endcomment -%}
    </div>
    <!--     <button type="button" class="button button--small card-figcaption-button" id="testing" onclick="ajax_add_to_cart('3163095285')"> addd </button> -->

    <div class="chat-with-us">

        <h2> Need help choosing a plan? <span class="chat_with_us_btn"> Chat with us </span></h2>

    </div>

    {%- when 'store_pickup' -%}
    {%- comment -%}The availability container will be added automatically if there is store pickup available
    {%- endcomment -%}
    <div class="ProductMeta__StoreAvailabilityContainer" {{ block.shopify_attributes }}></div>

    {%- when 'text' -%}
    {%- if block.settings.text != blank -%}
    <div class="ProductMeta__Text" {{ block.shopify_attributes }}>
        {{- block.settings.text -}}
    </div>
    {%- endif -%}

    {%- when 'liquid' -%}
    {%- if block.settings.liquid != blank -%}
    <div class="ProductMeta__Text" {{ block.shopify_attributes }}>
        {{ block.settings.liquid }}
    </div>
    {%- endif -%}

    {%- endcase -%}
    {%- endfor -%}

    {%- unless has_ouputted_variant_selector -%}
    {%- comment -%}If for any reason the merchant has removed the variant selector block, we still output the ID here{%-endcomment -%}
    <input type="hidden" name="id" data-productid="{{ product.id }}"
        value="{{ product.selected_or_first_available_variant.id }}">
    {%- endunless -%}