<section class="daily-ritual-main">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="daily-ritual-content">
          <h2>{{section.settings.heading}}</h2>
          <h3>{{section.settings.subheading}}</h3>
          <h4>{{section.settings.content}}</h4>
          <p>{{section.settings.content_two}}</p>
          <p>{{section.settings.content_three}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="daily-ritual-img">
		       <img src="{{section.settings.image |img_url:'master'}}" alt=""/> 
        </div>
      </div>
      <div class="daily-tri">
            <img src="{{section.settings.arrow_image |img_url:'master'}}" alt=""/> 
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Daily ritual",
    "settings": [
{ 
      "type": "text",
      "id": "heading",
      "label": "heading",
      "default": "heading"
},
{ 
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
},
{ 
      "type": "text",
      "id": "content",
      "label": "Content"
},
{ 
      "type": "text",
      "id": "content_two",
      "label": "Content"
},
{ 
      "type": "text",
      "id": "content_three",
      "label": "Content"
},
 { 
      "type": "image_picker",
      "id": "image",
      "label": "Image" 
  },
{ 
      "type": "image_picker",
      "id": "arrow_image",
      "label": "Image" 
  }
],
"presets": [
    {
      "category": "Landing ritual ",
      "name": "Landing ritual",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
