<section class="signup-banner signup-banner-home medical_professional_signup">
  <div class="signup-banner-img">
   <img class="only_desktop_screen" src="{{section.settings.image |img_url:'master'}}" alt=""/> 
    <img class="only_mobile_screen" src="{{section.settings.image_mobile |img_url:'master'}}" alt=""/> 
  </div>
  <div class="signup-banner-cont">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="home_signup_img">
        <img src="{{section.settings.red_image |img_url:'master'}}" alt=""/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="signup-banner-content-form">
            
            <div class="banner-form-part" id="sign_up_form">
            <h2>{{section.settings.heading}}</h2>
            <p>{{section.settings.content}}</p>
            <div class="klaviyo-form-VZNcDw"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Medical Pro SignUp",
    "settings": [
 { 
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image" 
  },
      { 
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image" 
  },
{ 
      "type": "image_picker",
      "id": "red_image",
      "label": "Image" 
  },
{ 
      "type": "text",
      "id": "heading",
      "label": "heading",
      "default": "heading"
},

{ 
      "type": "text",
      "id": "content",
      "label": "Content"
}

],
"presets": [
    {
      "category": "Medical Pro SignUp",
      "name": "Medical Pro SignUp",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
