
<section class="about_product_main science_how_to_use">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about_product_content">
          <div class="about_product_head">
            <h2>{{ section.settings.product_head }}</h2>
           {{ section.settings.ab_content }}
          </div>
        </div>
      </div>
    </div>

    <div class="product_sustainble_main">
    <div class="row">
      <div class="col-md-6">
        <div class="product_sustainble">
          <h3 class="cust_about_product_subh">{{ section.settings.ab_head_2 }}</h3>
        {{ section.settings.ab_content_2 }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="product_sustainble">
          <h3 class="cust_about_product_subh">{{ section.settings.ab_head_3 }}</h3>
         {{ section.settings.ab_content_3 }}
        </div>
      </div>
    </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
       <div class="about_product_content">

         <div class="about_product_refrence">
           <h4>{{ section.settings.ab_head_5}}</h4>
           <ol class="refrence_list">
             <li><a target="_blank" href="{{ section.settings.li_link}}">{{ section.settings.ab_content_5 }}</a></li>
           </ol>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Science How To Use",
    "settings": [
      { 
        "type": "text",
        "id": "product_head",
        "label": " Product Heading"
      },
     { 
        "type": "html",
        "id": "ab_content",
        "label": " Product Heading"
      },
       { 
        "type": "text",
        "id": "ab_head_2",
        "label": " Heading"
      },
     { 
        "type": "html",
        "id": "ab_content_2",
        "label": " Product Heading"
      },
      { 
        "type": "text",
        "id": "ab_head_3",
        "label": " Heading"
      },
        { 
        "type": "html",
        "id": "ab_content_3",
        "label": " Product Heading"
      },
       
      { 
        "type": "text",
        "id": "ab_head_5",
        "label": " Heading"
      },
      { 
        "type": "url",
        "id": "li_link",
        "label": " Link"
      },
      { 
        "type": "text",
        "id": "ab_content_5",
        "label": " Heading"
      }
  ],
     "presets": [
    {
      "category": "Science How To Use",
      "name": "Science How To Use",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}